{% extends 'base.html' %}
{% block title %}사진상세보기{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col">
          <a href=""></a>
            <form method="post">
              <!-- post 방식의 폼은 반드시 csrf token 값을 포함해야 함 -->
              {% csrf_token %}
              <!-- title -->
             
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" name="title"  value="{{photo.title}}">
                    </div>
                  </div>
                  <!-- author -->
                  <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="author" name="author" value="{{photo.author}}">
                    </div>
                  </div>
                  <!-- image -->
                  <div class="form-group row">
                    <label for="image" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" name="title"  value="{{photo.image}}">
                    </div>
                  </div>
                  <!-- description -->
                  <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">description</label>
                    <div class="col-sm-10">
                      <textarea type="description" id="description" row="10" class="form-control"></textarea>
                    </div>
                  </div>
                  <!-- price -->
                  <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="price" name="price"  value="{{photo.price}}">
                    </div>
                  </div>

                                    <!-- 버튼 -->
                                    <div class="form-group row">
                                      <label for="submit" class="btn btn-success">사진수정</label>
                                      <div class="col-sm-10">
                                        <input type="number" class="form-control" id="price" name="price"  value="{{photo.price}}">
                                      </div>
                                    </div>
                  
            </form>
            </div>
        </div> 
    </div>
  </body>
</html>
